.Footer{
  width: 100%;
  background-color: var(--white);
  height: 20vh;
  margin-top: auto;
  box-shadow: var(--shadow2);
  text-align: center;
  font-weight: 600;
}
.Footer .logo__img{
  margin-top: 40px;
}

.socialLink{
  color: #d42c2c;
}