@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --white: #ffffff;
  --bg: #fafafa;
  --empty: #f8f8f8;
  --black: #333333;
  --border: #eaeaea;
  --red: #902122;
  --blue: #1b4d97;
  --shadow: inset 0 -1px var(--border);
  --shadow2: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--black);
}

main {
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

a {
  color: #333333;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

textarea {
  resize: none;
}

.Section__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
}

.Section__subtitle {
  font-size: 2.4rem;
}

.Section__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
}

.Section__divider {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.Section__text {
  font-size: 1.8rem;
  font-weight: 400;
}

.Section__subtitle {
  font-size: 2.4rem;
}

.Section__spacer {
  height: 20px;
}

.Section {
  max-width: 850px;
  width: 95%;
  margin: 80px auto;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.hidden {
  display: none;
}

.Hero {
  max-width: 100%;
  width: 100%;
  position: relative;
  height: 820px;
  overflow: hidden;
  margin: 0 auto;
}

.Hero__background {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.Hero__background video {
  width: 100%;
}

.Hero__info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  z-index: 1;
}

.Hero__title {
  font-size: 9.6rem;
  line-height: 75.5%;
  z-index: 1;
  font-weight: 900;
  text-transform: uppercase;
}
