@import url(../globals.css);
@import url(../header.css);
@import url(../front/index.css);
/* @import url(../admin/adminGlobals.css); */

.Checkout_container {
  display: flex;
  /* max-width: 850px; */
  width: 100%;
  height: 100%;
}

.Billing__container {
  width: 50%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 0.8rem 4rem;
}

.Billing__title {
  font-size: 4.8rem;
  font-weight: 600;
}

.Billing__subtitle {
  font-size: 2.8rem;
  font-weight: 600;
}

.billing__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CountryInformation {
  display: flex;
  justify-content: space-between;
}

.Button--primary {
  background-color: var(--blue);
  color: #fff;
  font-size: 2.4rem;
  max-width: 39rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
}

.Form__billingIntput {
  /* display: block; */
  border-radius: 0.4rem;
  padding: 1.2rem;
  background-color: var(--empty);
  font-size: 1.4rem;
  border: solid 2px var(--black);
  margin: 1rem 0;
}

.CI_input {
  width: 45%;
}

.Radio_input {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  padding: 0.8rem;
  background-color: var(--empty);
  font-size: 1.4rem;
  border: solid 2px var(--black);
  margin: 1rem 0;
}

.Radio_input span {
  margin-left: 1rem;
}

.Summary__container {
  width: 50%;
  height: 100%;
  /* background-color: red; */
}

.summary {
  width: 80%;
  border-radius: 1.2rem;
  box-shadow: var(--shadow2);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 7rem auto;
}

.Total__container {
  border-top: 2px solid var(--black);
  display: flex;
  justify-content: flex-end;
}

.Total {
  font-size: 2.4rem;
  font-weight: 600;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  /* overflow-y: scroll; */
  /* transition: .25s all ease-in-out; */
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.Modal--active {
  opacity: 1;
  visibility: visible;
}

.Modal__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.5;
}

.Modal___container {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 82rem;
  height: 50%;
  max-height: 100vh;
  background-color: var(--white);
  z-index: 3;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: var(--shadow2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
