@import url(../globals.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../animations/pulse.css);
@import url(../animations/circle.css);

.Hero__animation .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 60px;
  height: 1px;
  bottom: -70px;
  overflow: hidden;
  background: var(--white);
  color: transparent;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.Section__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  margin: 25px auto;
  font-size: 1.8rem;
  row-gap: 20px;
}

.Section__Map {
  width: 100%;
  height: 300px;
  box-shadow: var(--shadow2);

  margin-top: 25px;
}

.Section__Map iframe {
  width: 100%;
  height: 100%;
}

.Slider {
  width: 100%;
  max-width: 100%;
}

.Slider__container {
  width: 100%;
  position: relative;
  height: 350px;
}

.Section__slider {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.Slider__item {
  display: inline-block;
  margin: 0 30px;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.Slider__img {
  width: 160px;
  border-radius: 49px;
  overflow: hidden;
  box-shadow: var(--shadow2);
  aspect-ratio: 1/1;
}

.Slider__text {
  margin: 10px auto;
  font-weight: 600;
  text-align: center;
  font-size: 2.4rem;
}

.Section__slider:hover .Slider__item {
  opacity: 0.3;
}

.Section__slider:hover .Slider__item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.Slider__item:hover ~ .Slider__item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.Slider .Section__subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 3.2rem;
}

.Slider .Section__list {
  font-size: 1.8rem;
  font-size: 400;
  max-width: 400px;
  text-align: center;
  list-style: none;
}

.Playlist__container {
  margin: 100px auto;
  position: relative;
}

.PlayList {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.Playlist__animation {
  border-radius: 50%;
  background-color: #2fd766;
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* top: -50px; */
  z-index: 0;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.circle2 {
  animation: scaleIn 4s 0.15s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.Form__trivia {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-items: center;
  /* background-color: aqua; */
}

.Trivia__row {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

.Input__title {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

.Trivia--button {
  margin: auto;
  width: 300px;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.2rem;
  margin-top: 28px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  cursor: pointer;
  background-color: #1b4d97;
  color: var(--white);
}
.Form__slider {
  height: 50rem;
}

.Question__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #2fd766; */
}
.Question__title {
  font-size: 2.8rem;
  font-weight: 600;
}
.Answer__container {
  width: 100%;
  height: 74px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  box-shadow: var(--shadow2);
  overflow: hidden;
  background-color: var(--empty);
  cursor: pointer;
}
.Option {
  font-size: 2.8rem;
  font-weight: 600;
  box-shadow: var(--shadow2);
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--white);
}
.Answer {
  font-size: 2.8rem;
  font-weight: 600;
  margin-left: 8px;
}

.Result__container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}
.puto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}
.Code__container {
  border-radius: 0 1.8rem 1.8rem 0;
  box-shadow: var(--shadow2);
  padding: 1rem;
  margin: 80px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Code__container p {
  font-size: 2.4rem;
  color: var(--black);
}
.icon--copy {
  font-size: 2.4rem;
  margin-left: 10px;
  padding: 0 10px 0 10px;
  color: var(--blue);
  border-left: 2px solid black;
}
.HighScore--button {
  width: 40rem;
  margin: auto;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.2rem;
  margin-top: 28px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  cursor: pointer;
  background-color: #1b4d97;
  color: var(--white);
}

.Retry--button {
  margin-top: 80px;
}

.Rankings__container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Ranks__container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.User__container {
  height: 5rem;
  width: 100%;
  box-shadow: var(--shadow2);
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.User {
  width: 20%;
  height: 100%;
  /* padding: 5rem; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.User span {
  margin-right: 1.8rem;
}

.Score {
  width: 20%;
  height: 100%;
  /* padding: 5rem; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Score strong {
  margin-right: 1.8rem;
}

.Princing__container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.Pricing__item {
  background-color: var(--white);
  box-shadow: var(--shadow2);
  border-radius: 25px;
  padding: 20px 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.Pricing__title {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}

.Pricing__text {
  font-size: 2.4rem;
}

.Pricing__price {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}

.Pricing {
  max-width: 100%;
  width: 1200px;
}

.Form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form__intput,
.Form__select {
  /* display: block; */
  border-radius: 0.4rem;
  padding: 1.2rem;
  background-color: var(--empty);
  font-size: 2.4rem;
  border: solid 2px var(--black);
}

.Form__intput:focus,
.Form__select:focus {
  border: none;
  border: solid 2px #1b4d97;
}

.Form__buttom {
  width: 400px;
  margin: 0 auto;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.2rem;
  transition: all 0.2s;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 40px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  cursor: pointer;
}

.Form__buttom:hover {
  background-color: var(--black);
  color: var(--white);
}

.Sponsor .Slider__img {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  width: 120px;
}

.Sponsor {
  max-width: 90%;
}

.Sponsor .Slider__container {
  overflow-x: scroll;
}
